<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901803702180-4i397h8cq653u4urn5ilcd141jvat7np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901803702180-4i397h8cq653u4urn5ilcd141jvat7np</string>
	<key>API_KEY</key>
	<string>AIzaSyDW-f7BAj8BF-MMpKCM7LH4Q9mPAj9-rQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>901803702180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>awesome-eccommerce-app</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-eccommerce-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901803702180:ios:ae7a17cdc8dd610dbbf331</string>
</dict>
</plist>